*{
    font-family: 'Nunito', sans-serif;
    padding: 0;
    margin: 0;
}

h2, h1 ,h4{
    font-weight: 600;
}

body{
    overflow-x: hidden;
}

button{
    border-radius: 50px;
    border: transparent;
    font-weight: 600;
}


/* navbar and main starts here */

.box{
    height: 95 vh;
    /* border: 1px solid black; */
    border-width: 5px;
    background-color: #ffeaa7;
    padding: 5%;

}

.main-bg{
    /* background-image: url(/images/ezgif.com-gif-maker.png);  */
    background-repeat:no-repeat;
}

.left-box{
    background: #522d5b;
    border-radius: 60% 40% 40% 20% / 70% 50% 30% 25%;
    /* margin-bottom: 35px;
    margin-top: 35px; */
}

.navbar-nav li>a{
    color: #0275d8;
    font-weight: 600;
}
.navbar-nav li>a:hover{
    color: #f5740b;
    transition-delay: 0.1s;
    transform: scale(0.9);
}

.font{
    font-family: 'Dancing Script', cursive;
    font-size: 90px;
}




.center{
    position: relative;
}

/* .box{
    background-color: #ffeaa7;
    margin-bottom: 30px; 
}   */


/* navbar and main ends here */


/* ------------------------------------------------------------------------------------------------------------------ */

/* courses starts here */

.container-fluid2{
    height:80vh;
}


.card{
    transition: transform 0.2s;
}

.card:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.icon_bg1 , .icon_bg2, .icon_bg3, .icon_bg4, .icon_bg5   {
    width: 100%;
    height: 200px;
    border-radius: 50%;
    /* border: 1px solid black; */
    
}

.icon_bg1{
    background-image: url(/images/logo-2582748_1280.webp);
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center;
}

.icon_bg2{
    background-image: url(/images/bootstrap-social-logo.png);
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center;
}

.icon_bg3{
    background-image: url(/images/js_logo.png);
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center;
}

.icon_bg4{
    background-image: url(/images/json-icon-png-18.jpg);
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center;
}

.icon_bg5{
    background-image: url(/images/xml_logo.jpg);
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center;
}


/* courses ends here */

/* ----------------------------------------------------------------------------------------------------- */

/* subjects starts here */

.parallax{
    background-image: url(/images/sub_bg.jpg);

    /* Set a specific height */
    min-height: 500px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sub1, .sub2, .sub3, .sub4 , .sub5{
    width: 100%;
    height: 300px;
    border-radius: 10px;
    /* border: 2px solid red; */
}

.sub1{background-color: #f8a5c2;}
.sub2{background-color: #ffeaa7;}
.sub3{background-color: #55efc4;}
.sub4{background-color: #bfbafd;}
.sub5{background-color: #81ecec;}

/* subjects ends here */

/* --------Progress bar------------- */

.progress1{
    background: rgb(14, 1, 1);
    justify-content: flex-start;
    border-radius: 100px;
    align-items: center;
    position: relative;
    padding: 0 5px;
    display: flex;
    height: 20px;
    width: 100%;
  }

  .progress-value1 ,.progress-value2 ,.progress-value3 {
    /* animation: load 3s normal forwards; */
    box-shadow: 0 10px 40px -10px #fff;
    border-radius: 100px;
    background: #fff;
    height: 15px;
    width: 0;
  }

  .load1{
      animation: move1 3s normal forwards;
  }

  .load2{
    animation: move_2 3s normal forwards;
    }

  .load3{
    animation: move_3 3s normal forwards;
    }



  @keyframes move1{
      0%{width: 0;}
      100%{width: 48%;}
  }

  @keyframes move_2{
    0%{width: 0;}
    100%{width: 64%;}
}

@keyframes move_3{
    0%{width: 0;}
    100%{width: 56%;}
}

/* progress bar ends */

/* Bar-graph starts here */

.bar-sec{
    background: #1a1a2e;
    height: 100vh;
    overflow: hidden;
}

main{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

section article.addclass{
    width: 400px;
    height: auto; 
}

section article.addclass p{
    color: #ffffff;
    padding: 10px;
    position: relative;
    box-sizing: border-box;
    z-index: 2;
    overflow: hidden;
}

section article.addclass div span:nth-child(1){
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background: #0f3460;
    z-index: -2;
    height: 100%;
    width: 100%;
}

section article.addclass div span:nth-child(2){
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #e94560;
    z-index: -1;
    height: 100%;
}

section article.addclass div:nth-child(1) span:nth-child(2){
    width: 64%;
    animation-delay:0;
    
}
section article.addclass div:nth-child(2) span:nth-child(2){
    width: 56%;
    animation-delay: 0;
}
section article.addclass div:nth-child(3) span:nth-child(2){
    width: 48%;
    animation-delay: 0;
}
section article.addclass div:nth-child(4) span:nth-child(2){
    width: 47%;
    animation-delay: 0;
}
section article.addclass div:nth-child(5) span:nth-child(2){
    width: 35%;
    animation-delay: 0;
}
section article.addclass div:nth-child(6) span:nth-child(2){
    width: 33%;
    animation-delay: 0;
}
section article.addclass div:nth-child(7) span:nth-child(2){
    width: 30%;
    animation-delay: 0;
}
section article.addclass div:nth-child(8) span:nth-child(2){
    width: 27%;
    animation-delay: 0;
}

section::before{
    position: absolute;
    top: -200px;
    left: -350px;
    width: 500px;
    height: 500px;
    content: "";
    background: #77abb7;
    transform:rotate(300deg);
}
section::after{
    position: absolute;
    bottom: -200px;
    right: -350px;
    width: 500px;
    height: 500px;
    content: "";
    background: #77abb7;
    transform:rotate(300deg);
    overflow: hidden;
}



.tallstart{
    animation: tall 1.25s cubic-bezier(0.17,0.67,0,1); 
}

@keyframes tall{
    0%{
        left: -500px;
        /* width: 0; */
        opacity: 0;
    }
    100%{
        left: 0;
        /* width:90%; */
        opacity: 1;
    }
}


/* Bar-graph ends here */

/* -------------------------------------------------------------------------------------------------------------------------- */

/* Testimonial Starts here */
.testimonial{
    border-radius: 100px;
    width: 50px;
}

/* Testimonial Ends here */
